body{
	color: #121a2e;
	padding-top: 100px;
	font-size: 18px;
	text-transform: all;
	font-family: 'Source Serif Pro', serif;
}
.navbar-nav > li{
	padding-left: 10px;
	padding-right: 20px;
	font-size: 18px;
	
}
.nav-item{
	font-family: 'Playfair Display', serif;
}
h1{
	padding-left: 20px;
	color: white;
}
#footer{
	color: white;
}
.card-title{
	font-size: 18px;
	font-weight: bolder;
}
#reshead{
	padding-left: 30px;
	padding-bottom: 10px;
}
#homepadding{
	padding-top: 60px;
}
.main-heading{
	font-family: 'Playfair Display', serif;
	font-size: 22px;
	text-align: justify-all;
	text-transform: uppercase;
}
.heading{
	font-family: 'Playfair Display', serif;
}
p, content{
	font-size: 18px;
    margin: 0px auto;
	width: 95%;
}
.srvc{	
	width: 98%;
    margin: 0px auto;
    border-bottom: 5px solid #969696;
}